@import url('https://fonts.googleapis.com/css2?family=Delius&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
    /* background: black; */
    background-image: url(icons/blurry-gradient-haikei.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px 50px;
    margin: 10px;
    outline: none;
    border-radius: 1000px;
    /* box-shadow: rgba(72, 135, 202, 0.8) 0 0 90px 33px; */
    border: none;
    font-weight: 500;
}

.gen-pass {
    /* display: flex;
    flex-direction: row; */
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.input-field {
    position: relative;
}

.copy-button {
    position: absolute;
    top: 0px;
    right: 0;
    background: transparent;
    border: none;
    display: flex;
    margin: 18px;
    cursor: pointer;
}

@media (max-width: 500px) {
    h1 {
      margin-top: 50px;
      font-size: bold;
    }
  }